<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login Page</title>
    <link rel="stylesheet" href="index.css" />
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  </head>
  <body>
    <div class="auth-container">
      <h2>Login</h2>
      <form id="loginForm" class="auth-form">
        <div>
          <label for="email">Email:</label>
          <input type="email" id="email" name="email" required />
        </div>

        <div>
          <label for="password">Password:</label>
          <input type="password" id="password" name="password" required />
        </div>

        <button type="submit" style="background-color: skyblue">Login</button>
      </form>

      <div class="auth-links">
        <a href="forgotPassword.html">Forgot Password?</a>
      </div>

      <p id="message" class="auth-message" style="color: red"></p>

      <div class="auth-links">
        Don't have an Account? <a href="signup.html">Signup NOW</a>
      </div>
    </div>

    <script>
      const form = document.getElementById("loginForm");
      const message = document.getElementById("message");

      form.addEventListener("submit", async (e) => {
        e.preventDefault();
        const email = document.getElementById("email").value.trim();
        const password = document.getElementById("password").value.trim();

        try {
          const response = await axios.post(
            "http://localhost:3000/user/login",
            {
              email,
              password,
            }
          );

          if (response.status === 200 && response.data.token) {
            localStorage.setItem("token", response.data.token);
            localStorage.setItem("user", JSON.stringify(response.data.user));
            alert("User logged in successfully!");
            window.location.href = "expense.html";
          }
        } catch (err) {
          if (err.response) {
            if (err.response.status === 404) {
              message.textContent = "User not found!";
            } else if (err.response.status === 401) {
              message.textContent = "Incorrect password!";
            } else {
              message.textContent = "Login failed. Please try again.";
            }
          } else {
            message.textContent = "Backend not connected yet!";
          }
        }
      });
    </script>
  </body>
</html>
